<Helpers::TypeSelect 
  @id="showingType" 
  @types={{this.showingTypes}} 
  @onChange={{this.updateShowing}} 
/>
<div class="container row">
  <Helpers::Swappablelist
    @listItems={{this.shownTasks}}
    @droptag="task"
    @direction="row"
    as |subtask|
  >
    <div class="grow list outer-back">
      <Todo::item
        @header={{subtask.children}}
        @task={{subtask}} 
        @removeTask={{this.removeTask}}
        {{draggable droptag="task" item=subtask}}
      />
      {{#if subtask.children}}
        <Todo::list 
          @task={{subtask}}
          @removeTask={{this.removeTask}} 
        />
      {{/if}}
    </div>
  </Helpers::Swappablelist>
  {{#unless @noNewTask}}
    <Todo::NewTask
      class="row outer-back"
      @placeHolder="new Task"
      @inputText={{this.inputText}}
      @createNew={{this.createTask}}
      @task= {{@task}}
      @list= {{@list}}
    />
  {{/unless}}
</div>
{{yield}}